*{
    margin: 0;
    padding: 0;
    
}
body{
    background-color: #1572A1;
    font-family: 'Amiri', serif;
    color: white;
    height: 100vh;


}
img{
    width:70%;
    height: 70%;
}

.container{
    text-align: center;
    height: 90vh;

}

button{
    padding: 0.4rem;
    border-radius: 0.875rem;
    border: none;
    color: #1572A1;
    
}
input{
    padding: 0.4rem;
    border-radius: 1rem;
    border: none;
}
 
p{
    font-size: 2rem;
}
h1{
    font-size: 2.5rem;
}

.winner{
    color: #2EB086;
    font-size: 2.5rem;
}

@media (max-width : 1200px) {
    .container{
        display: flex;
        flex-direction: column;
        align-content: space-around;
    }
    img{
        height: 50%;
        width: 100%;
        
    }
    .number{
        display: block;
    }
    .input-button{
        margin-top: 2rem;
    }

}